<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url %>')">
  <div class="container">
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
  </div>
</div>
